# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Pytest cache
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs and editors
.vscode/
.idea/

# Local env files
.env

# OS files
.DS_Store
Thumbs.db


# auxiliary files
requirements_backup.txt